$light-gray: #777;
$bright-blue: #1a1aff;
body{
  background-color: #E5E5E5;
}

.main_mobile {
  margin-top: 1em;
  margin-bottom: 1em;
}

@mixin main {
  margin: auto;
  margin-bottom: 2em;
  padding: 1em;
  border: 3px solid #0595ef;
  display: block;
}

.main {
  @include main;
  width: 65%;
  margin: auto!important;
  margin-top: 3em;
}

small-gray {
  color: $light-gray;
  font-size: small;
  text-align: center;
  margin: 0;
}

.nav{
  margin-top: 0!important;
}